# Problem
Can we predict return on ad spend for a brand advertising on Amazon's online display ad platform?

# Hypothesis
Product success and ad dollars spent can predict a campaign's performance.

# How does advertising with Amazon work?

* Advertisers buy display ads to drive consumers to purchase their products
* Consumers are targeted with Amazon ads all over the web on any device 
* When a consumer (who was shown then ad) buys the product, that impression (and campaign) is credited with the purchase
* Return on ad spend (ROAS) = sales driven / ad spend (e.g. a brand ran a 20,000 dollar ad campaign which drove 50,000 dollars in product sales, equalling a 2.50 ROAS)

## Data

I pulled campaign data from the year 2017 for all US advertisers in our data warehouse. This data I was able to export to a CSV nicely and with no cleaning up to do. There were nulls but I validated that they were correctly null as the specific columns did not relate to the campaign type. I have 13,800 rows from this source. Example of the dataset below.

In [2]:
import pandas as pd
campaign = pd.read_csv('Campaignswithasins.csv')
campaign.advertiser_name = 'x' #advertiser name hidden for privacy concerns 
campaign[['advertiser_name','campaign_start','campaign_end','impressions','product_sales_$_total']].head(5)

,advertiser_name,campaign_start,campaign_end,impressions,product_sales_$_total
0,x,1/13/2017 5:00,2/3/2017 4:59,5798405,924.84
1,x,1/13/2017 5:00,2/3/2017 4:59,5798405,924.84
2,x,1/13/2017 5:00,2/3/2017 4:59,2563430,562.32
3,x,1/13/2017 5:00,2/3/2017 4:59,2563430,562.32
4,x,1/13/2017 5:00,2/3/2017 4:59,5798405,924.84

However, I had trouble getting ASIN (Amazon Standard Identification Number) data because in our data warehouse, we store one ASIN per row per campaign which would duplicate each campaign row as many as 100 times. I tried to convert the rows to an array in a single column using Redshift's LISTAGG function but ran into the issue of having too many characters (from all the ASINs) to convert to an array. I then decided to limit the number of ASINs per campaign to five, which would allow me to get a sample of the products without the technical difficulties of pulling the data. I used the row_number window function to filter out excess ASINs. This will be a known limitation in the model if it is determined that ASINs play a large role in predicting ROAS.

With the additional ASIN data I increased my dataset to 38,929 rows.

Even though I now have the associated ASINs for each campaign, I do not have the ASIN's attributes such as price, rating, number of reviews, etc. I do not have access to this data through work because I am in a different organization. I considered using Amazon's Product API to get the data, but I needed to sign up as an associate and have a website. Therefore I built a webscraper to pull attributes off Amazon's website based on the ASIN. Example of the code below.

In [ ]:
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

asins = pd.read_csv('asins.csv')
asindetails = pd.DataFrame(columns=['asin','price'])
asinsfailed = []

driver = webdriver.Chrome()
driver.implicitly_wait(10)

for index, row in asins.iterrows():
    if index <= 0:
        global asindetails
        global asinsfailed
        baseurl = 'https://www.amazon.com/exec/obidos/ASIN/'
        driver.get(baseurl + str(row[0]))
        try:
            WebDriverWait(driver, 10).until(
                EC.presence_of_element_located((By.XPATH, "//*[@id='priceblock_ourprice']"))
                )
        except: 
            continue 
        temp = pd.DataFrame({
            'asin': row[0],\
            'price': [driver.find_element_by_xpath("//*[@id='priceblock_ourprice']").text.replace('$','')]
            #'reviews': [driver.find_element_by_xpath("//*[@id='acrCustomerReviewText']").text.replace(' customer reviews','').replace(' customer review','')],\
            #'rating': [driver.find_element_by_xpath("//*[@id='reviewSummary']/div[2]/span/a/span").text.replace(' out of 5 stars','')],\
            #'category': [driver.find_element_by_xpath("//*[@id='wayfinding-breadcrumbs_feature_div']/ul/li[1]/span/a").text]
            })
        asindetails = asindetails.append(temp)
        asindetails.to_csv("asinprice_1-100.csv")

print "Job Complete"

I was able to extract price, category, and number of reviews from scraping the detail pages. For some ASINs, I was not able to get certain attributes because it couldn't be found on the web page; for example, no price listing (if item is out of stock), no customer reviews yet, etc.

Example of the new data below.

In [30]:
import pandas as pd
campaigns = pd.read_csv('Campaignswithasins.csv')
campaigns.advertiser_name = 'x' #advertiser name hidden for privacy concerns
prices = pd.read_csv('asinprices.csv')
rating = pd.read_csv('asinrating.csv')
reviews = pd.read_csv('asinreviews.csv')
category = pd.read_csv('asincat.csv')
campaignswithprices = campaigns.merge(prices, on='asin', how='left')
campaignswithrating = campaignswithprices.merge(rating, on='asin', how='left')
campaignswithreviews = campaignswithrating.merge(reviews, on='asin', how='left')
campaignswithcat = campaignswithreviews.merge(category, on='asin', how='left')
campaignswithcat[['advertiser_name','asin','price','rating','reviews','category']].head(4)

  advertiser_name        asin  price  rating  reviews                category
0               x  B0012HEVNM    NaN     NaN      NaN                     NaN
1               x  B0012HEVJG  42.48     4.3    995.0  Grocery & Gourmet Food
2               x  B000LKTZNM  26.16     4.3    995.0                     NaN
3               x  B0012HEVPU  30.00     4.3    995.0  Grocery & Gourmet Food

I then removed the asins and transformed the data to take the averages of price, rating, reviews grouped by campaign so that I did not have duplicates anymore. 

Then I saved the new data in a CSV as my completed data set.

In [46]:
campaignsaveraged = campaignswithcat.groupby(['advertiser_name','ad_campaign_id','campaign_name','ad_type','campaign_start','campaign_end','optimization_type','category']).mean()

#campaignsaveraged.to_csv('completecampaigns.csv')

## Modeling